storage none
source https://api.nuget.org/v3/index.json
source https://nuget.nikolamilekic.com/index.json

framework: auto-detect

nuget FSharp.Core >= 6.0.0 lowest_matching: true
nuget GitInfo copy_local: true
nuget Microsoft.SourceLink.GitHub copy_local: true
nuget Milekic.YoLo prerelease storage:packages
nuget FSharpPlus
nuget Fleece.SystemTextJson
nuget FSharp.Data

//Testing
nuget Unquote
nuget Microsoft.NET.Test.Sdk
nuget SpecFlow.Plus.LivingDocPlugin
nuget SpecFlow
nuget SpecFlow.xUnit
nuget xunit
nuget xunit.runner.visualstudio
nuget YoloDev.Expecto.TestSdk
